<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics" version="3.3.2.0" targetFramework="net40-Client" />
  <package id="ILNumerics.64Bit" version="3.1.0.1" targetFramework="net40-Client" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net40-Client" />
  <package id="ZedGraph" version="5.1.6" />
</packages>